@model IEnumerable<Lab6.Models.StockItem>

@{
    ViewBag.Title = "SearchPage";
}

<h2>Search Page</h2>

@using (Html.BeginForm("SearchPage", "Search", FormMethod.Get))
{
    @Html.TextBox("SearchName")
    <input type="submit" value="search" />

<table class="table">

    @foreach (var item in Model)
    {
            <tr>
                <td> 
                    @Html.ActionLink(item.StockItemName, "Details", new { ID = item.StockItemID })
                </td>
            </tr>
    }
</table>
}