@{
    ViewBag.Title = "Home Page";
}

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">CS460HW4</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="https://localhost:44321/RGB/RGB">RGB</a></li>
                    <li><a href="https://localhost:44321/Interporlator/Interporlator">Interporlator</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div class="row">
            <div class="col-md-4">
                <h2>Getting started</h2>
                <p>
                    Pick some colors or something.
                </p>
                <p><a class="btn btn-default" href="https://localhost:44321/RGB/RGB">RGB</a></p>
            </div>
            <div class="col-md-4">
                <h2>Get more colors or something</h2>
                <p>You can Interpolate colors with htis button.</p>
                <p><a class="btn btn-default" href="https://localhost:44321/Interporlator/Interporlator">INTERPORLATOR!!</a></p>
            </div>
        </div>
