@{
    ViewBag.Title = "Home Page";
}


<h1>My Github</h1>
<div id="profile"></div>
<br />
<div id="repos"></div>
<br />
<div id="commits"></div>


@section scripts
{
    <script src="~/Scripts/main.js"></script>
}
